.main {
    font-family: 'Dosis', sans-serif;
    background-image: url(images/background.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.display-content {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, .6);
}

/* HEADER */

.header {
    width: clamp(15rem, 33vw, 30rem);
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
    font-weight: 500;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);

}

input {
    width: 100%;
    border: none;
    outline: none;
}

.temp-toggle {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.celsius.active {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .5);
    padding: .5rem;
    border-radius: 50%;
}

.celsius:hover {
    color: rgb(54, 153, 215);
    font-weight: 600;
}

.fahrenheit.active {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .5);
    padding: .5rem;
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

.fahrenheit:hover {
    color: rgb(54, 153, 215);
    font-weight: 600;
}

/* MAIN CONTENT */

.location-info {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.main-info {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.location {
    font-size: clamp(1.5rem, 3vw, 5rem);
}

.main-info img{
    width: clamp(3rem, 20vw, 10rem);
    height: clamp(3rem, 20vh, 10rem);
}

.condition {
    font-size: clamp(1rem, 3vw, 2rem);
}

.temperature {
    font-size: clamp(4rem, 6vw, 6rem);
}

.additional-info {
    width: 16rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: clamp(1.2rem, 1.9vw, 1.6rem);
    font-weight: 500;
}

.feels-like {
    flex: 1 0;
}

.humidity {
    flex: 1 0;
}

.precipitation {
    flex: 1 0;
}

.wind-speed {
    flex: 1 0;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.info-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* FORECAST */

.forecast {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: transparent;
    backdrop-filter: blur(8rem);
    font-size: clamp(.7rem, 1.5vw, 1.5rem);
    gap: .5rem;
}

.week-day {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.day-name {
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 500;
}

.weather-icon {
    flex: 1 0 100%;
    width: 2rem;
    height: 2rem;
}

.temp-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    text-align: center;
}

.min-temp {
    flex: 1 0 50%;
}

.max-temp {
    flex: 1 0 50%;
}